<!DOCTYPE html>
<html ng-app="shoppingCartApp" ng-controller="mainController">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-3">
        <em> Search by Category: </em>
        <select name="categorySearch" ng-model="categorySearch">
          <option value=""> </option>
          <option ng-repeat="category in categories" value="category"> {{category}} </option>
        </select>
      </div>
      <div class="col-md-3">
        <em> Search by name: </em>
        <input name="nameSearch" role="search" ng-model="nameSearch">
      </input>
      </div>
      <div class="col-md-3">
        <em> Sort by Price: </em>
        <select name="priceSort" ng-model="priceSort">
          <option value = ""> (unsorted) </option>
          <option value = "-price"> High to Low </option>
          <option value = "price"> Low to High </option>
        </select>
      </div>
      <div class="col-md-3 text-right">
        <a href="#/checkout">
          <checkout class="btn btn-danger checkout" name="button"> Checkout | Bag:
            <ng-pluralize count='shoppingBag.length' when="{'0': 'Empty!', '1': '{{shoppingBag.length}} tea', 'other': '{{shoppingBag.length}} teas'}"> </ng-pluralize>
          </checkout>
        </a>
      </div>
    </div>

  <div class="row">
    <product class="col-md-12" ng-repeat="tea in teas | filter: {name: nameSearch, categories: categorySearch} | orderBy: priceSort">
      <imageBox class="col-md-3">
        <img ng-src= "{{tea.imageUrl}}"/>
      </imageBox>
      <description class="col-md-6">
        <div>
          <name> {{tea.name}} </name>
        </div>
        <div>
          <price> <b> Price: </b> {{tea.price | currencyAdj}} </price>
        </div>
        <div>
          <caffeine> <b> Caffeine Scale: </b> {{tea.caffeineScale}} </caffeine>
        </div>
        <div>
          <ingredients> <b> Ingredients: </b> {{tea.ingredients}} </ingredients>
        </div>
        <div>
          <rating> <b> Rating: </b> {{tea.rating}} </rating>
        </div>
        <div>
          <inStock> <b> In Stock: </b>
            <span ng-show="tea.inStock === true"> Yes </span>
            <span ng-hide="tea.inStock === true"> No </span>
          </inStock>
        </div>
        <div>
          <categories> <b> Categories: </b>
            <ul>
              <li ng-repeat="category in tea.categories">
                {{category}}
              </li>
            </ul>
          </categories>
        </div>
      </description>
      <quantity class="col-md-3">
        <label> Quantity: </label>
        <select name="quantitySelect" ng-model="tea.quantity">
          <option ng-repeat="value in quantity" value={{value}}> {{value}}
        </select>
        <button type="button" class="btn btn-warning" ng-click="addToBag(tea)"> Add to Bag </button>
      </quantity>
    </product>
  </div>


  </body>
</html>
